In [80]:
from pyspark.sql import SparkSession
import zipfile
from pyspark.sql.functions import col, unix_timestamp,to_date,avg,sum,min,max,count,month,current_date,year

In [2]:

spark = SparkSession.builder\
    .config("spark.driver.bindAddress", "localhost") \
    .getOrCreate()

In [3]:

# Create DataFrame
data = [
("James", "zen", "Smith", "1991-04-01", "M", 3000),
("Michael", "Rose", "zwee", "2000-05-19", "M", 4000),
("Robert", "", "Williams", "1978-09-05", "M", 4000),
("Maria", "Anne", "Jones", "1967-12-01", "F", 4000),
("Jen", "Mary", "Brown", "1980-02-17", "F", 400),
]
columns = ["firstname", "middlename", "lastname", "dob", "gender", "salary"]
df = spark.createDataFrame(data=data, schema=columns)
df.show(truncate=False)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|dob       |gender|salary|
+---------+----------+--------+----------+------+------+
|James    |zen       |Smith   |1991-04-01|M     |3000  |
|Michael  |Rose      |zwee    |2000-05-19|M     |4000  |
|Robert   |          |Williams|1978-09-05|M     |4000  |
|Maria    |Anne      |Jones   |1967-12-01|F     |4000  |
|Jen      |Mary      |Brown   |1980-02-17|F     |400   |
+---------+----------+--------+----------+------+------+

In [52]:

with zipfile.ZipFile("PythonPractice\data-engineering-practice-main\Exercises\Exercise-6\data\Divvy_Trips_2019_Q4.zip") as archive:
    text = archive.read("Divvy_Trips_2019_Q4.csv").decode(encoding="utf-8")

#print(text)

df = spark.read.option("header", "true").csv(spark.sparkContext.parallelize(text.split("\n")))
#df = spark.read.option("header","true").option("inferSchema","true").option("delimiter", "|").csv(spark.sparkContext.parallelize(input_data.split("\n")))

print(df.show(truncate=False))

+--------+-------------------+-------------------+------+------------+---------------+------------------------------+-------------+----------------------------+----------+------+---------+
|trip_id |start_time         |end_time           |bikeid|tripduration|from_station_id|from_station_name             |to_station_id|to_station_name             |usertype  |gender|birthyear|
+--------+-------------------+-------------------+------+------------+---------------+------------------------------+-------------+----------------------------+----------+------+---------+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|2215  |940.0       |20             |Sheffield Ave & Kingsbury St  |309          |Leavitt St & Armitage Ave   |Subscriber|Male  |1987     |
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|6328  |258.0       |19             |Throop (Loomis) St & Taylor St|241          |Morgan St & Polk St         |Subscriber|Male  |1998     |
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|3003  |850.0       |84             |Milwaukee Ave & Grand Ave     |199          |Wabash Ave & Grand Ave      |Subscriber|Female|1991     |
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|3275  |2,350.0     |313            |Lakeview Ave & Fullerton Pkwy |290          |Kedzie Ave & Palmer Ct      |Subscriber|Male  |1990     |
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|5294  |1,867.0     |210            |Ashland Ave & Division St     |382          |Western Ave & Congress Pkwy |Subscriber|Male  |1987     |
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|1891  |373.0       |156            |Clark St & Wellington Ave     |226          |Racine Ave & Belmont Ave    |Subscriber|Female|1994     |
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|1061  |1,072.0     |84             |Milwaukee Ave & Grand Ave     |142          |McClurg Ct & Erie St        |Subscriber|Female|1991     |
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|1274  |1,458.0     |156            |Clark St & Wellington Ave     |463          |Clark St & Berwyn Ave       |Subscriber|Male  |1995     |
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|6011  |1,437.0     |156            |Clark St & Wellington Ave     |463          |Clark St & Berwyn Ave       |Subscriber|Female|1993     |
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|2957  |8,306.0     |336            |Cottage Grove Ave & 47th St   |336          |Cottage Grove Ave & 47th St |Customer  |NULL  |NULL     |
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|2564  |1,925.0     |77             |Clinton St & Madison St       |506          |Spaulding Ave & Armitage Ave|Subscriber|Male  |1977     |
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|3601  |748.0       |198            |Green St & Madison St         |331          |Halsted St & Clybourn Ave   |Subscriber|Female|1980     |
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|711   |1,039.0     |66             |Clinton St & Lake St          |16           |Paulina Ave & North Ave     |Customer  |Male  |1994     |
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|5005  |1,224.0     |240            |Sheridan Rd & Irving Park Rd  |230          |Lincoln Ave & Roscoe St     |Customer  |NULL  |NULL     |
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|1730  |326.0       |66             |Clinton St & Lake St          |88           |Racine Ave & Randolph St    |Subscriber|Male  |1992     |
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|4595  |318.0       |373            |Kedzie Ave & Chicago Ave      |377          |Kedzie Ave & Lake St        |Customer  |NULL  |NULL     |
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|2958  |3,692.0     |74             |Kingsbury St & Erie St        |402          |Shields Ave & 31st St       |Customer  |Female|1962     |
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|1489  |308.0       |289            |Wells St & Concord Ln         |176          |Clark St & Elm St           |Subscriber|Male  |1992     |
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|3602  |1,251.0     |106            |State St & Pearson St         |334          |Lake Shore Dr & Belmont Ave |Customer  |NULL  |NULL     |
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|4228  |1,527.0     |133            |Kingsbury St & Kinzie St      |673          |Lincoln Park Conservatory   |Customer  |Female|1995     |
+--------+-------------------+-------------------+------+------------+---------------+------------------------------+-------------+----------------------------+----------+------+---------+
only showing top 20 rows
None

In [82]:

df = df.withColumn('end_time', col('end_time').cast('Timestamp'))
df = df.withColumn('start_time', col('start_time').cast('Timestamp'))
df = df.withColumn('birthyear', col('birthyear').cast('Integer'))

df = df.withColumn('tripduration',unix_timestamp(col('end_time')) -unix_timestamp(col('start_time')))
df = df.withColumn('tripdate',to_date(col('end_time')))
df = df.withColumn('age',year(current_date()) - col('birthyear'))

In [83]:
print(df.show(truncate=False))

+--------+-------------------+-------------------+------+------------+---------------+------------------------------+-------------+----------------------------+----------+------+---------+----------+----+
|trip_id |start_time         |end_time           |bikeid|tripduration|from_station_id|from_station_name             |to_station_id|to_station_name             |usertype  |gender|birthyear|tripdate  |age |
+--------+-------------------+-------------------+------+------------+---------------+------------------------------+-------------+----------------------------+----------+------+---------+----------+----+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|2215  |941         |20             |Sheffield Ave & Kingsbury St  |309          |Leavitt St & Armitage Ave   |Subscriber|Male  |1987     |2019-10-01|38  |
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|6328  |258         |19             |Throop (Loomis) St & Taylor St|241          |Morgan St & Polk St         |Subscriber|Male  |1998     |2019-10-01|27  |
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|3003  |851         |84             |Milwaukee Ave & Grand Ave     |199          |Wabash Ave & Grand Ave      |Subscriber|Female|1991     |2019-10-01|34  |
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|3275  |2351        |313            |Lakeview Ave & Fullerton Pkwy |290          |Kedzie Ave & Palmer Ct      |Subscriber|Male  |1990     |2019-10-01|35  |
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|5294  |1868        |210            |Ashland Ave & Division St     |382          |Western Ave & Congress Pkwy |Subscriber|Male  |1987     |2019-10-01|38  |
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|1891  |373         |156            |Clark St & Wellington Ave     |226          |Racine Ave & Belmont Ave    |Subscriber|Female|1994     |2019-10-01|31  |
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|1061  |1073        |84             |Milwaukee Ave & Grand Ave     |142          |McClurg Ct & Erie St        |Subscriber|Female|1991     |2019-10-01|34  |
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|1274  |1459        |156            |Clark St & Wellington Ave     |463          |Clark St & Berwyn Ave       |Subscriber|Male  |1995     |2019-10-01|30  |
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|6011  |1438        |156            |Clark St & Wellington Ave     |463          |Clark St & Berwyn Ave       |Subscriber|Female|1993     |2019-10-01|32  |
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|2957  |8306        |336            |Cottage Grove Ave & 47th St   |336          |Cottage Grove Ave & 47th St |Customer  |NULL  |NULL     |2019-10-01|NULL|
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|2564  |1926        |77             |Clinton St & Madison St       |506          |Spaulding Ave & Armitage Ave|Subscriber|Male  |1977     |2019-10-01|48  |
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|3601  |748         |198            |Green St & Madison St         |331          |Halsted St & Clybourn Ave   |Subscriber|Female|1980     |2019-10-01|45  |
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|711   |1040        |66             |Clinton St & Lake St          |16           |Paulina Ave & North Ave     |Customer  |Male  |1994     |2019-10-01|31  |
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|5005  |1225        |240            |Sheridan Rd & Irving Park Rd  |230          |Lincoln Ave & Roscoe St     |Customer  |NULL  |NULL     |2019-10-01|NULL|
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|1730  |327         |66             |Clinton St & Lake St          |88           |Racine Ave & Randolph St    |Subscriber|Male  |1992     |2019-10-01|33  |
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|4595  |318         |373            |Kedzie Ave & Chicago Ave      |377          |Kedzie Ave & Lake St        |Customer  |NULL  |NULL     |2019-10-01|NULL|
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|2958  |3692        |74             |Kingsbury St & Erie St        |402          |Shields Ave & 31st St       |Customer  |Female|1962     |2019-10-01|63  |
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|1489  |308         |289            |Wells St & Concord Ln         |176          |Clark St & Elm St           |Subscriber|Male  |1992     |2019-10-01|33  |
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|3602  |1251        |106            |State St & Pearson St         |334          |Lake Shore Dr & Belmont Ave |Customer  |NULL  |NULL     |2019-10-01|NULL|
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|4228  |1527        |133            |Kingsbury St & Kinzie St      |673          |Lincoln Park Conservatory   |Customer  |Female|1995     |2019-10-01|30  |
+--------+-------------------+-------------------+------+------------+---------------+------------------------------+-------------+----------------------------+----------+------+---------+----------+----+
only showing top 20 rows
None

In [55]:
df.groupby('tripdate').agg(
    avg('tripduration').alias('avgtripduration'),
    count('trip_id').alias('totaltrip')
    ).show()

+----------+------------------+---------+
|  tripdate|   avgtripduration|totaltrip|
+----------+------------------+---------+
|2019-10-05|1318.4542840713054|    10434|
|2019-10-01| 972.1641100957354|    18384|
|2019-10-22| 967.5284884775903|    11022|
|2019-10-04|  950.214849921011|    14559|
|2019-12-14| 4416.052333804809|     3535|
|2019-10-02| 812.9518279135528|     9902|
|2019-10-08|1025.5990415335464|    17528|
|2019-10-14|1308.5160846254166|    13802|
|2019-10-15| 1082.923094271538|    13302|
|2019-10-07| 1113.469835572024|    17272|
|2019-10-06|1663.7502235469449|    13420|
|2019-10-03| 904.1126986160943|    15608|
|2019-10-09|1005.6840790238234|    17210|
|2019-11-09|1792.5347364499908|     5369|
|2019-10-21| 963.1177872340426|    11750|
|2020-01-13|         8585902.0|        1|
|2019-10-12|1409.6069537186277|     8686|
|2019-10-20|1382.7980512036684|    10468|
|2019-10-10| 954.5956291056089|    15832|
|2019-10-16| 876.7375368846094|    12878|
+----------+------------------+---------+
only showing top 20 rows

In [70]:
df_new = df.groupby(month('tripdate').alias('tripmonth'),'from_station_id').agg(
    count('from_station_id').alias('numberoftrip')
)
maxtrip_df = df_new.groupBy('tripmonth').agg(max('numberoftrip').alias('maxnumbertrip'))

final_df= df_new.join(maxtrip_df,
                      on = 'tripmonth'
                      ).filter(
                          df_new['numberoftrip'] == maxtrip_df['maxnumbertrip']).select(
                              'tripmonth','from_station_id','maxnumbertrip'
                          )
final_df.show()

+---------+---------------+-------------+
|tripmonth|from_station_id|maxnumbertrip|
+---------+---------------+-------------+
|       10|            192|         6564|
|       11|            192|         3445|
|       12|            192|         2928|
|        1|             90|            5|
+---------+---------------+-------------+

In [72]:
df.groupby('gender').agg(
    avg('tripduration').alias('avgtripduration')
).show()

+------+------------------+
|gender|   avgtripduration|
+------+------------------+
|  NULL| 3826.708819510144|
|Female|1102.4052011867236|
|  Male| 855.7464493410545|
+------+------------------+

In [88]:
df_age = df.groupby('age').agg(
    avg('tripduration').alias('avgtripduration')
).orderBy('avgtripduration')

In [95]:
df_age.limit(10).show()

+---+------------------+
|age|   avgtripduration|
+---+------------------+
| 94|             282.5|
| 96|             298.5|
|104|323.53684210526313|
| 88|            336.75|
|125|          431.3125|
| 82|493.42857142857144|
| 84| 557.3333333333334|
| 83|             575.5|
|124|             689.0|
| 64| 727.8381351492928|
+---+------------------+

In [100]:
df_age.orderBy('avgtripduration').tail(10)

[Row(age=43, avgtripduration=1201.046947847772),
 Row(age=28, avgtripduration=1211.014277215943),
 Row(age=25, avgtripduration=1261.079336458709),
 Row(age=22, avgtripduration=1271.3225806451612),
 Row(age=92, avgtripduration=1298.0),
 Row(age=121, avgtripduration=1420.99),
 Row(age=23, avgtripduration=2059.361010830325),
 Row(age=26, avgtripduration=2697.7215509974712),
 Row(age=None, avgtripduration=3986.4971385029426),
 Row(age=86, avgtripduration=4123.5)]